# Environment variables (Wajib diabaikan)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# System & OS Files
.DS_Store
Thumbs.db

# Dependencies (Opsional, umum untuk Node/Go/Python)
node_modules/
vendor/

# IDE & Code Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp